*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppnis', sans-serif;
}
body
{
    color: #ededed;
}
.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    align-items: center;
}
.logo
{
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    font-size: 50px;
    color: #00e0fe;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.logo span
{
    font-family: 'Times New Roman', Times, serif;
    color: #ffe5b0;
    font-size: 46px;
}
.navbar a
{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s*var(--i));
}
.navbar a:hover{
    color: rgb(58, 47, 255);

}
.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url('background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content{
    max-width: 600px;
}
.home-content h3{
    font-weight: 700;
    font-size: 32px;
    opacity: 0;
    animation: sildeBottom 1s ease forwards;
    animation-delay: .7s;
}
.home-content h1{
    font-size: 56px;
    font-weight: 750;
    margin: -5px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;

}
.home-content p{
    font-size: 25px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}
.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 43px;
    background: transparent;
    border: 3px solid rgb(58, 47, 255);
    border-radius: 50%;
    font-size: 22px;
    color: rgb(58, 47, 255);
    text-decoration: none;
    margin: 32px 17px 32px 0;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s*var(--i));
    transition: .5s ease;
}
.home-sci a:hover{
    background: rgb(58, 47, 255);
    color :#081b29;
    box-shadow: 0 0 22px rgb(58, 47, 255);
}
.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: rgb(58, 47, 255);
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0077ff,
    0 0 25px #0077ff;
}
.btn-box:hover{
    box-shadow: 0 0 5px rgb(0, 136, 255),
    0 0 25px rgb(0, 136, 255), 0 0 50px rgb(0, 136, 255),
    0 0 100px rgb(0, 136, 255), 0 0 200px rgb(0, 136, 255)
}
.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation-delay:2s ;

}
.home-content h3 span{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(0, 136, 255); 
}

@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes sildeBottom {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
.about{
    background-image: url('abstract-blue-geometric-shapes-background_1035-17545.avif');
    justify-content: center;
    background-size: cover ;
    height:70vh;
    padding: 100px 50px;
}
.about h2{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    color: #081b29;
    font-size: 45px;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.crd-row-col{
    flex-basis: 50%;
    font-size: 25px;
}
.about p{
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #081b29;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}
#skills {
    padding: 100px 50px;
    background: url("");
    background-size: cover;
    color: white;
}
.skills h1{
    text-align: center;
    color: #00e0fe;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    background-image: url('dark.jpg');
}
.skills-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url('dark.jpg');
    background-size: cover;
    height: 100vh;
    padding: 50px;
}

.skills_leftcol {
    padding-top: 10px;
    flex-basis: 50%;
    text-align: justify;
    order: 1;
    padding-right: 30px;
}

.skills_leftcol p {
    font-size: 20px;
    line-height: 30px;
}

.skills_rightcol {
    flex-basis: 50%;
    order: 2;
    padding-left: 70px;
}

.progress-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.progress-div {
    width: 70%;
    text-align: left;
}

.progress-div p {
    margin: 0px;
    font-size: 18px;
    padding-left: 0;
    text-align: left;
}

progress {
    width: 80%;
    height: 15px;
    margin-bottom: 25px;
}
.progess-div p .percentage{
    margin-top: 12px;
}
.section-info
{
    background-image: url('360_F_549863991_6yPKI08MG7JiZX83tMHlhDtd6XLFAMce.jpg');
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.projects{
    background-image: url('360_F_549863991_6yPKI08MG7JiZX83tMHlhDtd6XLFAMce.jpg');
    background-size: cover;
    height: 70vh;
}
.projects_box{
    flex-basis: 25%;
    text-align: center;
    box-shadow: 2px 3px 5px grey;
    padding: 20px;
    margin-top: 40px;
}
.projects_row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.projects_box:hover{
    background: rgb(244, 244, 249);
    color: black;
    transition: 0.4s;
}